{% extends "main.html" %}
{% block content %}
<h3> Are you sure you want to delete {{item.name}}? </h3>

<form action="{{url_for('deleteSpaItem', categories_id=categories_id, spa_item_id=spa_item_id, item=editedItem)}}" method = "POST">

	<button type="submit" class="btn btn-default delete" id="submit">
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Yes</button>
	<a href = '{{url_for('showCategory')}}'>
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> No </a>
</form>

{% endblock %}
